.sidebar-wrapper {
  height: 100%;
  .logo-wrapper {
    width: 100%;
    height: var(--top-tool-height);
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    align-items: center;
    .img-wrapper {
      width: calc(var(--left-menu-min-width) - var(--layout-left-border-width));
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
      }
    }
    span {
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
    }
  }
  .menu-select-wrapper {
    padding: 0 6px;
  }
  .el-menu {
    border-right: none;
    .el-menu-item:hover, .el-menu-item.is-active {
      border-radius: 2px;
    }
    .el-menu-item:hover {
      color: var(--left-menu-hover-text-color);
    }
    // 设置选中时的高亮背景
    .el-menu-item.is-active {
      background: var(--left-menu-active-bg-color);
    }
    .el-sub-menu.is-opened .el-menu-item:not(:hover, .is-active) {
      background: var(--left-menu-sub);
    }
  }
  // 滚动条不显示
  .el-scrollbar__bar {
    display: none;
  }

}