.theme-setting-wrapper {
  .system-theme-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .setting-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}